# Terraform files that should NOT be committed
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
.terraformrc
terraform.rc

# Local Terraform data directories
terraform/postgres_data/
terraform/media_data/
terraform/static_data/
terraform/jenkins_data/
terraform/jenkins_agent_data/

# Crash log files
crash.log


# environment variables
.env

# Cursor
.cursor/

#VsCode
.vscode/

#Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

#Logs
logs/
*.log

#Jenkins
jenkins_data/
jenkins_agent_data/

#Docker
docker/

#Env
venv/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local