# Terraform files that should NOT be committed
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
.terraformrc
terraform.rc

# Local Terraform data directories
terraform/postgres_data/
terraform/media_data/
terraform/static_data/

# Crash log files
crash.log

# Cursor
.cursor/

#VsCode
.vscode/